

.navbar {
    /* Light teal background color */
   padding: 10px;
   border-radius: 15px;
}

/* Logo section styling */
.navbar-brand {
   font-family: Arial, sans-serif;
   font-weight: bold;
   font-size: 24px;
   color: black; /* Dark teal color for logo text */
   display: flex;
   align-items: center;
   padding: 5px 15px;
   border-radius: 15px;
   background-color:rgba(34, 137, 147,0.5);
   transition: 0.15s;
   
}

.navbar-brand:hover{
   padding: 10px 60px;
   margin-left: -30px;
   margin-right: -30px;
   margin-top: -2px;
   margin-bottom: -2px;
}

.navbar-nav{
   padding: 8px 15px;
   border-radius: 15px;
   background-color: rgba(34, 137, 147,0.5);
   color: white;
}

/* Navbar links styling */
.navbar-nav .nav-link {
   color: black;
   font-weight: bold;
   margin: 0.50px;
   font-size: 16px;
   border-radius: 10px;
   padding: 5px 8px;
}

.navbar-nav .nav-link:hover {
   background-color: rgba(34, 137, 147,0.5);
}

/* Search icon styling */
.search-button-div {
   display: flex;
   align-items: center;
   padding: 5px 10px;
   border-radius: 10px;
   background-color: rgba(34, 137, 147,0.5);
   cursor: pointer;
   transition: 0.15s;
   padding: 15px 35px;
}

.search-button-div:hover{
   padding: 15px 45px;
   margin-left: -25px;

   
}

.search-button-div i {
   color: #063a54;
   font-size: 18px;
}

/* Flex container to space items evenly */
.container {
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 15px; /* Even spacing between elements */
}

/* Responsive adjustments */
@media (max-width: 1000px) {
   .search-button-div {
       display: none; /* Hide search icon on small screens */
   }
}

/* Style for the navbar toggler */
.navbar-toggler {
   background-color: rgba(34, 137, 147,0.5);
   border: none;
   color: #0c2a39;
}

.navbar-toggler-icon {
   color: #0c2a39;
   filter: invert(1); /* Makes the toggler icon white */
}