
.navbar {
    background-color: rgba(120, 186, 192, 0.7);
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .nav-link {
    color: white !important;
    font-weight: 500;
}

.navbar .nav-link:hover {
    text-decoration: underline;
}

.content {
    margin-top: 70px;
    padding: 20px;
}

.glass {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(10px);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  